<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

    <title>Sourdust Feed Aggregator</title>
    <subtitle>An aggregation of feeds.</subtitle>
    <link href="http://example.org/feed/" rel="self" />
    <link href="http://example.org/" />
    <id>http://example.org/</id>
    <updated>{{date_ISO8601}}</updated>

    {% for item in simplepie.get_items %}
        <entry>
            <title type="html">
                {% if item.get_title %}
                    {{item.get_title}}
                {% else %}
                    Untitled
                {% endif %}
            </title>
            <link href="{{item.get_permalink}}" />
            <updated>{{item.get_date('c')}}</updated>
            <id>{{item.get_id}}</id>
            <author>
                {% if item.get_author.get_name %}
                <name>{{item.get_author.get_name|raw}}</name>
                {% else %}
                Anon
                {% endif %}
                {% if item.get_author.get_email %}
                <email>{{item.get_author.get_email|raw}}</email>
                {% endif %}
            </author>
            <content type="html">
                {{item.get_content}}
            </content>
        </entry>
    {% endfor %}

</feed>
